body{
        background-image: url(../img/og-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
}
form,.output{
        float:right;
}
.submarine{
        display: none;
}
.subActive{
        display: block;
}