/* Style */
body {
        background-image: url(../img/og-image2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
}

form,
.output {
        float: right;
}

.output {
        position: absolute;
        right: 15px;
        bottom: 0;
        top: 85px;
        color: rgb(0, 0, 0);
}

select,
input,
button {
        border: none;
        border-radius: 4px;
        background-color: #18a395;
        color: #fff;
}

select {
        padding: 16px 20px;
        margin: 16px 0 16px 0;
}
select:focus,select:hover{
        background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
        background-color: #6c7c7c;
}

input {
        width: 70px;
        padding: 16px 20px;
        margin: 16px 0 16px 0;
}

button {
        width: 70px;
        padding: 16px 5px;
        margin: 16px 0 16px 0;
        text-transform: uppercase;
}

button:hover {
        background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
        background-color: #6c7c7c;
}

button:active {
        position: relative;
        top: 1px;
}

/* Animation parameters */

.submarine {
        display: none;
}

.subActive {
        display: block;
        top: 19%;
        position: relative;
        animation-name: sub;
        animation-duration: 3.7s;
        animation-fill-mode: forwards;
}

.anim {
        animation-name: body;
        animation-duration: 1s;
        animation-delay: 2.7s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;

}

/* animation keyframes */

@keyframes sub {
        0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(460px);
                transform: translateX(460px);
                opacity: 1;
        }
}

/* Media queries */

@keyframes body {
        0% {
                background-image: url(../img/og-image2.png);

        }

        100% {
                background-image: url(../img/og-image.png);

        }
}

@media only screen and (min-width: 1500px) {
        .subActive {
                display: block;
                top: 56%;
                position: relative;
                animation-name: sub;
                animation-duration: 3.7s;
                animation-fill-mode: forwards;
        }

        @keyframes sub {
                0% {
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                        opacity: 0;
                }

                100% {
                        -webkit-transform: translateX(860px);
                        transform: translateX(860px);
                        opacity: 1;
                }
        }
}